:host {
  display: block;
  height: auto;
  width: 100%;
  padding: 120px 0 0 0;

  .blog-card-row-wrapper {
    display: flex;
    align-items: stretch;
    padding: 0 25px;
  }

  &.left .blog-card-row-wrapper {
    padding: 0 50px 0 0;
  }

  &.right .blog-card-row-wrapper {
    padding: 0 0 0 50px;
  }
}
