<div class="content-wrapper">
  <div class="contact-me-page">
    <div class="image">
      <object
        data="assets/images/contact.svg"
        type="image/svg+xml"
        aria-hidden="true"
      ></object>
    </div>
    <div class="info">
      <div class="inner">
        <div class="title">
          <h2>Contact Me</h2>
          <h5>I'd love to hear from you</h5>
        </div>
        <ul class="info-list">
          <li class="info-list-item">
            <a href="tel:+27662669858">(+27)66 266 9858</a>
          </li>
          <li class="info-list-item">
            <a href="mailto:joshuabritz@gmail.com">joshuabritz@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
