<div class="work-page">
  <div class="content-wrapper">
    <div class="title-block">
      <h1>My Work</h1>
    </div>
    <div class="intro">
      <p>
        I have worked on many different projects as a developer. Here are some of my favourites.
      </p>
    </div>
  </div>
  <div class="work-brand-carousel">
    <app-brand-carousel>
      <app-brand-carousel-item link="https://www.hyundai.co.za" slideTitle="Hyundai">
        <div class="brand-slide">
          <img src="assets/images/hyundai_logo.svg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item link="https://www.wesbank.co.za/auctions/" slideTitle="WesBank">
        <div class="brand-slide">
          <img src="assets/images/wesbank_logo.svg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="Nedbank">
        <div class="brand-slide">
          <img src="assets/images/nedbank_logo.jpg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="Jaguar">
        <div class="brand-slide">
          <img src="assets/images/jaguar_logo.jpg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item link="https://www.dramabuzz.co.za" slideTitle="Dramabuzz">
        <div class="brand-slide">
          <img src="assets/images/logo.png" alt="">
        </div>
      </app-brand-carousel-item>
    </app-brand-carousel>
  </div>
  <div class="content-wrapper">
    <section class="featured-work">
      <div class="title-block">
        <h2>Corporate</h2>
      </div>
      <app-display-cards href="https://www.hyundai.co.za" src="assets/images/hyundai_screen.png">
        <div class="title">
          <h3 class="work-title">Hyundai</h3>
        </div>
        <div class="info">
          <p>
            I recently had the pleasure of working with Hyundai South Africa to build their new corporate homepage. My role in building Hyundai.co.za was building out the Front-end as well as developing user interactions and incorporating Google Analytics and HotJar
            to provide valuable insights into how people are using the page.
          </p>
        </div>
        <div class="work-tags">
          <span class="tag">Front-end</span>
          <span class="tag">CSS</span>
          <span class="tag">HTML</span>
          <span class="tag">TypeScript</span>
          <span class="tag">Angular</span>
          <span class="tag">ASP.net</span>
        </div>
      </app-display-cards>

      <app-display-cards href="https://www.wesbank.co.za/auctions/" side="right" src="assets/images/auctions_screen.png">
        <div class="title">
          <h3 class="work-title">WesBank Auctions</h3>
        </div>
        <div class="info">
          <p>
            Built to bridge the gap between auctioners and consumers, WesBank's auction portal is a platoform for finding and getting infomation about auctions that are happening near you.
          </p>
        </div>
        <div class="work-tags">
          <span class="tag">Front-end</span>
          <span class="tag">CSS</span>
          <span class="tag">HTML</span>
          <span class="tag">TypeScript</span>
          <span class="tag">Angular</span>
          <span class="tag">Firebase</span>
        </div>
      </app-display-cards>
    </section>
    <section class="featured-work">
      <div class="title-block">
        <h2>Organizations</h2>
      </div>
      <app-display-cards href="https://www.dramabuzz.co.za" src="assets/images/dramabuzz_screen.png" side="left">
        <div class="title">
          <h3 class="work-title">Dramabuzz</h3>
        </div>
        <div class="info">
          <p>
            Dramabuzz is first class amateur drama group that caters to homeschooler between the ages of 10 and 18. They have a standing reputation for putting out shows that are gripping, entertaining, and on a level of professionalism that could rival pro casts.
            I designed and built their website to reflect these qualities, and I would say that the result is not too bad...
          </p>
        </div>
        <div class="work-tags">
          <span class="tag">Front-end</span>
          <span class="tag">CSS</span>
          <span class="tag">HTML</span>
          <span class="tag">TypeScript</span>
          <span class="tag">Angular</span>
          <span class="tag">Firebase</span>
        </div>
      </app-display-cards>
    </section>
    <section class="featured-work">
      <div class="title-block">
        <h2>Individuals</h2>
      </div>
      <app-display-cards href="https://schalkbezuidenhout.com/" src="assets/images/schalk_screen.png" side="right">
        <div class="title">
          <h3 class="work-title">Schalk Bezuidenhout</h3>
        </div>
        <div class="info">
          <p>
            Schalk Bezuidenhout is a top notch South African comedian with flamboyant personality. He's a colouful and artsy kind of person, and his website is made to reflect this.
          </p>
        </div>
        <div class="work-tags">
          <span class="tag">Front-end</span>
          <span class="tag">CSS</span>
          <span class="tag">HTML</span>
          <span class="tag">JavaScript</span>
          <span class="tag">Azure</span>
        </div>
      </app-display-cards>
    </section>
  </div>
</div>
