<div class="work-page">
  <div class="content-wrapper">
    <div class="title-block">
      <h1>My Work</h1>
    </div>
    <div class="intro">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cupiditate at laudantium. Harum totam asperiores esse. Eaque deleniti distinctio eos voluptates quae assumenda id voluptas. Asperiores qui debitis nulla optio.
      </p>
    </div>
  </div>
  <div class="work-brand-carousel">
    <app-brand-carousel>
      <app-brand-carousel-item slideTitle="Hyundai">
        <div class="brand-slide">
          <img src="assets/images/hyundai_logo.svg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="WesBank">
        <div class="brand-slide">
          <img src="assets/images/wesbank_logo.svg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="Nedbank">
        <div class="brand-slide">
          <img src="assets/images/nedbank_logo.jpg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="Jaguar">
        <div class="brand-slide">
          <img src="../../../assets/images/jaguar_logo.jpg" alt="">
        </div>
      </app-brand-carousel-item>
      <app-brand-carousel-item slideTitle="Dramabuzz">
        <div class="brand-slide">
          <img src="assets/images/logo.png" alt="">
        </div>
      </app-brand-carousel-item>
    </app-brand-carousel>
  </div>
  <div class="content-wrapper">
    <section class="featured-work">
      <article class="feature">
        <div class="image-block">
          <figure js-href="https://www.hyundai.co.za">
            <img src="../../../assets/images/hyundai_screen.png" alt="">
          </figure>
        </div>
        <div class="content-block">
          <div class="title">
            <h3>Hyundai</h3>
          </div>
          <div class="info">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem voluptatem animi pariatur, aut eum neque accusamus quam corporis. Doloribus rem a aut reiciendis quam unde ipsum voluptatem sit neque? Tempore accusamus sequi eligendi in. Veritatis sit sapiente
              deserunt suscipit odio perspiciatis sequi qui architecto ab cupiditate velit aperiam perferendis...
            </p>
          </div>
          <div class="action">
            <a target="_blank" href="https://www.hyundai.co.za">visit</a>
          </div>
        </div>
      </article>
      <article class="feature">
        <div class="content-block">
          <div class="title">
            <h3>Dramabuzz</h3>
          </div>
          <div class="info">
            <p>
              Dramabuzz is first class amateur drama group that caters to homeschooler between the ages of 10 and 18. They have a standing reputation for putting out shows that are gripping, entertaining, and on a level of professionalism that could rival pro casts.
              I designed and built their website to reflect these qualities, and I would say that the result is not too bad...
            </p>
          </div>
          <div class="action">
            <a target="_blank" href="https://www.dramabuzz.co.za">visit</a>
          </div>
        </div>
        <div class="image-block">
          <figure js-href="https://www.dramabuzz.co.za">
            <img src="../../../assets/images/dramabuzz_screen.png" alt="">
          </figure>
        </div>
      </article>
    </section>
  </div>
</div>
<!--
  - Dramabuzz
  - Nedbank WholeView
  - Comedian Sites
  - Hyundai *
  - WesBank *
 -->
