<a [routerLink]="['/']" class="logo">
  Joshua Britz
</a>

<ul class="nav" [class.open]="showMenu">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>
  <!-- <li (click)="href('/codelabs')" routerLinkActive="active">
    <a [routerLink]="['/codelabs']">Codelabs</a>
  </li> -->
  <li routerLinkActive="active">
    <a routerLink="/about">About</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/work">Work</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/skills">Skills</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/contact-me">Contact Me</a>
  </li>
</ul>

<div class="mobile-button" [class.active]="showMenu" (click)="toggleMenu()">
  <div></div>
  <div></div>
  <div></div>
</div>
