* {
  box-sizing: border-box;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

.content-wrapper header,
.content-wrapper main {
  padding: 20px;
}

.content-wrapper header {
  height: 100%;
  padding: 50px 20px;
  text-align: center;
}

.content-wrapper header .inner-content {
  max-width: 900px;
  margin: auto;
  width: 90%;
}

.content-wrapper header h5 {
  margin-top: 0;
}

.content-wrapper main {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-bottom: 100px;
}

.post-header {
  padding-bottom: 10px;
  border-bottom: solid 2px #dddddd;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

footer {
  width: 100%;
  height: auto;
}

footer .footer-inner {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}
