<div class="not-found-wrapper">
  <div class="image">
    <object
      [style.transform]="
        'translate3d(' + movex / 10 + 'px, ' + movey / 10 + 'px, 0)'
      "
      data="assets/images/not_found.svg"
      type="image/svg+xml"
    ></object>
  </div>
  <div class="text">
    <h1
      [style.transform]="
        'translate3d(' + movex / 6 + 'px, ' + movey / 6 + 'px, 0)'
      "
    >
      <span>4</span>
      <span>0</span>
      <span>4</span>
    </h1>
  </div>

  <div class="button">
    <a routerLink="/">RETURN HOME</a>
  </div>
</div>
