<app-blog-post-header
  title="Create a Keybinding Service in Angular"
  subtitle="Create a service to help you manage key combinations in your next app"
  image="assets/images/posts/create-keybinding-service-main.jpeg"
></app-blog-post-header>

<article class="content-wrapper">
  <p>
    <strong>
      View the final project
      <a target="_blank" href="https://github.com/joshuapbritz/KeybindingServiceInAngular"
        >on GitHub</a
      ></strong
    >
  </p>
  <hr />
  <p>
    A common frustration I come across when working with Angular (or any other
    framework for that matter), is running functions based on key bindings. The
    typical method of doing this is unreadable and messy. For example, if you
    wanted to run a function when a user hit <strong>CTRL+ALT+D</strong>, your
    code would look something like this.
  </p>
  <app-code-snippet
    [snippet]="snippets.snippet1"
    lang="javascript"
  ></app-code-snippet>
  <p>
    True, it could be worse. Never the less, doing this can become very messy
    very quickly. It is also difficult to quickly find and fix problems because
    you have to know the exact number of each key code to know what key command
    is being listened for. In a recent project, I was working on, I decided to
    remedy the issue by abstracting the process into an Angular service and now
    I'm going to show you how to do it.
  </p>
</article>
<br />
<article class="content-wrapper">
  <h2>Creating a project</h2>
  <p>
    Because we are making an Angular service, you will need to have an angular
    project to work in. You can use an existing one, or you can create a new
    blank project to play around with.
  </p>
  <app-terminal-snippet>{{ snippets.snippet2 }}</app-terminal-snippet>
  <p>
    You should now have a fresh project to work in.
  </p>
</article>
<br />
<article class="content-wrapper">
  <h2>Setting things Up</h2>
  <p>
    First of all, we need to create a service that will do all our work.
  </p>
  <app-terminal-snippet>{{ snippets.snippet3 }}</app-terminal-snippet>
  <p>
    Your newly created service should look something like this.
  </p>
  <app-code-snippet
    [snippet]="snippets.snippet4"
    lang="javascript"
    src="key-bind.service.ts"
  ></app-code-snippet>
  <p>
    In the same folder as your service, create two new files: one called
    <strong>modifiers.ts</strong> and one called <strong>keycodes.ts</strong>,
    and copy the following code into them. You can move these later, but for
    now, it is easier to keep them in the same folder as your service.
  </p>
  <app-code-snippet
    [snippet]="snippets.snippet5"
    lang="javascript"
    src="keycodes.ts"
  ></app-code-snippet>

  <app-code-snippet
    [snippet]="snippets.snippet6"
    lang="javascript"
    src="modifiers.ts"
  ></app-code-snippet>

  <p>
    These files contain helpers we will use to make our service work properly.
    For example, <strong>keycodes.ts</strong> has a list of all the key codes,
    mapped to readable names, and <strong>modifiers</strong> has a helper
    function to check if one or more modifier keys are present in and event.
  </p>

  <p>
    Theoretically, they would already make your life easier. You could use them
    as below.
  </p>

  <app-code-snippet
    [snippet]="snippets.snippet7"
    lang="javascript"
  ></app-code-snippet>

  <p>
    This code is much cleaner, but we can do better than that. What we want is a
    declarative way of listening to key events.
  </p>

  <p>
    In the key bind service, you will create a new method called
    <strong>match()</strong>. We will have parameters so that you can specify
    the keys and modifiers you want to listen for, some extra options, and we
    will return an Observable that fires when the binding is matched.
  </p>

  <app-code-snippet
    [snippet]="snippets.snippet8"
    lang="javascript"
  ></app-code-snippet>

  <p>
    And a class for your extra config
  </p>

  <app-code-snippet
    [snippet]="snippets.snippet9"
    lang="javascript"
  ></app-code-snippet>

  <p>
    Now that we have out plumbing in place, we will need to subscribe to our
    keydown listener and check if the current event's keys match the binding
    specified. To do that, we will use the methods defined in
    <strong>keycodes.ts</strong> and <strong>modifiers.ts</strong>.
  </p>

  <app-code-snippet
    [snippet]="snippets.snippet10"
    lang="javascript"
  ></app-code-snippet>

  <p>
    <i>*note</i> we added
    <strong
      >(!matchModifiers.length || hasModifierKey(event,
      ...matchModifiers)</strong
    >
    to the if statement so that it can match a binding that has no modifiers.
  </p>

  <p>
    The service is now ready to be used. You can provide it to a component
    through the constructor.
  </p>

  <app-code-snippet
    [snippet]="snippets.snippet11"
    lang="javascript"
  ></app-code-snippet>

  <p>And to use it</p>

  <app-code-snippet
    [snippet]="snippets.snippet12"
    lang="javascript"
  ></app-code-snippet>

  <hr />

  <p>
    <strong>
      View the final project
      <a target="_blank" href="https://github.com/joshuapbritz/KeybindingServiceInAngular"
        >on GitHub</a
      ></strong
    >
  </p>
</article>

<!-- <app-code-snippet
  [snippet]="snippets.test"
  lang="javascript"
></app-code-snippet>
<app-code-snippet [snippet]="snippets.html" lang="html"></app-code-snippet>
<app-code-snippet [snippet]="snippets.css" lang="css"></app-code-snippet> -->
