:host {
  display: block;
  flex: 1;
  margin: 15px;
  background-color: #ffffff;
  border: solid 2px #dbdbdb;
  cursor: pointer;
  will-change: transform;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;

  .image {
    position: relative;
    height: 90px;
    padding: 0 15px;

    .image-display {
      position: absolute;
      left: 15px;
      width: calc(100% - 30px);
      height: 180px;
      transform: scale(1);
      bottom: 0;
      background-color: #ffffff;
      border: solid 2px #dbdbdb;
      background-position: center center;
      background-size: cover;
      border-radius: 100px;
      will-change: transform;
      transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1200ms;
      // border-bottom-right-radius: 100px;
    }
  }

  .snippet {
      padding: 15px;
  } 

  &:hover {
    border-color: #333333;
    transform: scale(1.05);

    .image .image-display {
      transform: scale(1.05);
      border-color: #333333 !important;
    }
  }
}
