.back-to-listing {
  display: block;
  text-align: center;
  padding: 20px 0 0 0;
}

.article-header .inner-content img {
  margin-top: -50px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  object-fit: cover;
  margin-bottom: 40px;
}

@media screen and (max-width: 750px) {
  .article-header .inner-content img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  header.article-header h1 {
    font-size: 2.5rem;
  }
}
