.articles-grid-layout {
  padding: 55px;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 55px;
  border-bottom: solid 1px var(--border);
}

.articles-grid-layout .articles-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "one three three four six"
    "two three three five seven";
}

@media screen and (max-width: 1200px) {
  .articles-grid-layout .articles-grid {
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "one three three"
      "two three three"
      "four five six"
      "seven seven seven";
  }
  /*  four six five seven */
}

@media screen and (max-width: 930px) {
  .articles-grid-layout .articles-grid {
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "one two"
      "three three"
      "four five"
      "six seven";
  }
}

@media screen and (max-width: 770px) {
  .articles-grid-layout .articles-grid {
    display: block;
  }
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(1) {
  grid-area: one;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(2) {
  grid-area: two;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(3) {
  grid-area: three;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(4) {
  grid-area: four;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(5) {
  grid-area: five;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(6) {
  grid-area: six;
}

.articles-grid-layout .articles-grid .articles-grid-item:nth-child(7) {
  grid-area: seven;
}

.articles-grid-layout .articles-grid .articles-grid-item {
  background-color: #ffffff;
  display: block;
  text-decoration: none;
}

.articles-grid-layout .articles-grid .articles-grid-item .article-grid-image {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 770px) {
  .articles-grid-layout .articles-grid .articles-grid-item .article-grid-image {
    display: none;
  }
}

.articles-grid-item .article-grid-image img {
  display: block;
  width: 100%;
  max-height: 290px;
  object-fit: cover;
  filter: grayscale(0);
  transition: filter cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}

.articles-grid-item .articles-grid-summary {
  color: var(--text);
}

@media screen and (max-width: 770px) {
  .articles-grid-item {
    margin-bottom: 40px;
  }

  .articles-grid-item:last-child {
    margin-bottom: 0px;
  }
}

.articles-grid-item .articles-grid-summary h4 {
  padding: 0;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 930px) {
  .articles-grid-item .articles-grid-summary h4 {
    font-size: 22px;
  }
}

.articles-grid-item .articles-grid-summary .articles-grid-summary-info {
  list-style: none;
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 930px) {
  .articles-grid-item .articles-grid-summary .articles-grid-summary-info {
    padding: 0;
  }
}

.articles-grid-layout .articles-grid .articles-grid-item:hover h4 {
  text-decoration: underline;
}

.articles-grid-layout .articles-grid .articles-grid-item:hover img {
  filter: grayscale(100%);
}

/* Other Articles */
.other-articles {
  padding: 55px;
  width: 100%;
  height: auto;
  gap: 40px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px var(--border);
}

.other-articles .other-article {
  max-width: calc(50% - 20px);
  text-decoration: none;
  color: var(--text);
  display: block;
}

@media screen and (max-width: 770px) {
  .other-articles {
    display: block;
  }

  .other-articles .other-article {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .other-articles .other-article:last-child {
    margin-bottom: 0px;
  }
}

.other-articles .other-article h4,
.other-articles .other-article p {
  margin: 0;
  padding: 0;
}

.other-articles .other-article h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.other-articles .other-article:hover h4 {
  text-decoration: underline;
}
