* {
  box-sizing: border-box;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.content-wrapper header,
.content-wrapper main {
  padding: 20px;
}

.content-wrapper header {
  height: 100%;
  padding: 50px 20px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .content-wrapper header {
    padding: 20px 0;
  }
}

.content-wrapper header .inner-content {
  max-width: 900px;
  margin: auto;
  width: 90%;
}

.content-wrapper header .inner-content .avatar {
  width: 90%;
  max-width: 150px;
  margin: auto;
}

.content-wrapper header .inner-content .avatar img,
.content-wrapper header .inner-content .avatar object {
  display: block;
  width: 100%;
}

.content-wrapper header h5 {
  margin-top: 0;
}

.content-wrapper main {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-bottom: 100px;
}

@media screen and (max-width: 650px) {
  .content-wrapper main {
    padding-left: 0;
    padding-right: 0;
  }
}

.post-header {
  padding-bottom: 10px;
  border-bottom: solid 2px var(--border);
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

footer {
  width: 100%;
  height: auto;
}

footer .footer-contact {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
}

footer .footer-contact h4 {
  margin-top: 0;
}

@media screen and (max-width: 650px) {
  footer .footer-contact h4 {
    font-size: 1.5rem;
  }
}

footer .footer-social {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

footer .footer-social .social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

footer .footer-social .social-list .social-item {
  width: 30px;
  height: auto;
  margin: 0 15px;
}

footer .footer-social .social-list .social-item img {
  display: block;
  width: 100%;
  margin: auto;
}

footer .footer-social .social-list .social-item:hover img {
  opacity: 0.7;
}

footer .footer-inner {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

/* Code Highlighting */
.highlight {
  background-color: #2f1e2e;
  padding: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow-x: auto;
}

/* Lines */
hr {
  border: none;
  width: 70%;
  max-width: 300px;
  margin: 3rem auto;
  height: 2px;
  background-color: var(--border);
}

/* Anchor Tags */
a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--text);
}

::-moz-selection {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 8px;
}

::selection {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 8px;
}

blockquote {
  display: block;
  padding: 20px 0;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
}

blockquote p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-style: italic;
  opacity: 0.9;
}

blockquote::before {
  content: "“";
  font-size: 100px;
  position: absolute;
  color: var(--accent);
  font-weight: bold;
  top: -80%;
}
