:host {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(185, 185, 185, 0.4);
  z-index: 401;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;

  &.is-open {
    display: flex;
    animation: fad_in 300ms ease forwards;
  }

  &.is-open-body {
    .modal-body {
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms,
        opacity ease 300ms;
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal-body {
    position: relative;
    will-change: transform;
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    transform: scale(0);
    transition: transform ease 300ms, opacity ease 300ms;
    max-height: 98%;
    overflow: auto;
    opacity: 0.5;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &::after,
      &::before {
        content: '';
        display: block;
        background-color: #999999;
        position: absolute;
        transform-origin: center center;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        border-radius: 1px;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

@keyframes fad_in {
  to {
    opacity: 1;
  }
}
