<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}} 
    
    {{- block "article-head" . }}
      <meta
        name="description"
        content="Hello, I'm Joshua Britz. I'm a web developer from South Africa with a special interest in User Experience and Front-end development. My work usually involves creating components libraries for client design systems, creating high-fidelity prototpyes of new components, and working to promote the adoption of design systems company-wide. I'm currently employed at OnePointFour Consulting"
      />
    {{- end }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NQSR5SV"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
      if (
        navigator.userAgent.search("Safari") >= 0 &&
        navigator.userAgent.search("Chrome") < 0
      ) {
        document.getElementsByTagName("BODY")[0].className += " safari";
      }
    </script>

    <nav class="application-global-nav">
      {{- partial "nav.html" . -}}
    </nav>

    <div class="content-wrapper">
      <main id="content">
        {{- block "main" . }}{{- end }}
      </main>
    </div>

    <footer>
      {{- partial "footer.html" . -}}
    </footer>

    <script src="/index.js" async></script>

    <script async type="text/javascript">
      var sheets = [
        "https://fonts.googleapis.com/css?family=Merriweather:300,400|Lato:400",
      ];

      window.onload = function () {
        for (var e = 0; e < sheets.length; e++) {
          var s = document.createElement("link");
          (s.rel = "stylesheet"), (s.href = sheets[e]), (s.type = "text/css");
          var a = document.getElementsByTagName("link")[0];
          a.parentNode.insertBefore(s, a);
        }
      };
    </script>
  </body>
</html>
