{{ define "main" }}

<main id="content">
  <section class="articles-sections">
    <div class="header static">
      <h3>My Writings</h3>
      <h5>
        Every so often, I have some thoughts that I feel like sharing. You can
        find those here.
      </h5>
    </div>

    <article class="articles inner">
      {{ range .Site.RegularPages }}
      <a href="{{ .Permalink }}" class="article-item">
        <div class="article-image">
          {{ if .Params.headerUrl }}
          <img src="{{ .Params.headerUrl }}" alt="Header Image" />
          {{ else }}
          <img src="images/default.jpeg" alt="Header Image" />
          {{ end }}
        </div>

        <div class="articles-summary">
          <h5>{{ .Title }}</h5>
          <p>{{ .Summary | safeHTML | truncate 350 }}</p>

          <ul class="articles-summary-info">
            <li>
              <strong>Published</strong>
              <span>{{- .Date.Format "January 2, 2006" -}}</span>
            </li>

            {{ range .Params.tags }}
            <li class="light">
              <span>{{- . -}}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </a>
      {{end}}
    </article>
  </section>
</main>
{{end}}
