{{define "article-head"}}
<meta name="description" content="{{.Summary}}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="Joshua Britz | {{.Title}}" />
<meta property="og:description" content="{{.Summary}}" />

{{if .Params.headerUrl}}
<meta property="og:image" content="{{ .Site.BaseURL }}{{.Params.headerUrl}}" />
{{end}}

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta property="twitter:title" content="Joshua Britz | {{.Title}}" />
<meta property="twitter:description" content="{{.Summary}}" />

{{if .Params.headerUrl}}
<meta
  property="twitter:image"
  content="{{ .Site.BaseURL }}{{.Params.headerUrl}}"
/>
{{end}} {{end}} {{ define "header" }}
<nav class="article-nav">
  <div class="inner">
    <div class="logo">
      <h5>
        <strong><a href="/">Josh Britz</a></strong>
      </h5>
    </div>

    <div class="back">
      <a aria-hidden="true" href="/">Return to Main Page</a>
    </div>
  </div>
</nav>

<header class="article-header">
  <link type="text/css" rel="stylesheet" href="css/article.css" />

  <div class="inner-content">
    {{if .Params.headerUrl}}
    <img src="{{.Params.headerUrl}}" alt="Header Cover" /> {{end}}
    <h1>{{.Title}}</h1>
    {{if .Params.subtitle}}
    <h4>{{ .Params.subtitle }}</h4>
    {{end}}
    <div class="meta">
      <div class="date">
        <strong>Published:</strong>
        <span>{{- .Date.Format "January 2, 2006" -}}</span>
      </div>
    </div>
  </div>
</header>
{{end}} {{ define "main" }}
<article>
  {{- .Content -}}

  <div class="latest-articles">
    <div class="latest-articles-header">
      <h4>Other Articles I've Written</h4>
    </div>
    <div class="article-wrapper">
      {{range first 2 (where .CurrentSection.RegularPages "Title" "!=" .Title)}}
      <a href="{{.Permalink}}" class="article-card">
        <h5>{{.Title}}</h5>
        <h6>{{- .Date.Format "January 2, 2006" -}}</h6>
        <p>{{.Summary}}</p>
      </a>
      {{end}}
    </div>
  </div>

  <div class="back-to-listing">
    <a class="button" role="button" href="/">Return to the main page</a>
  </div>
</article>
{{end}}
