button,
.button {
  --button-color: var(--background);
  --button-background: var(--primary);
  --button-border: var(--primary);

  all: unset;
  display: inline-block;
  text-decoration: none;
  line-height: 41px;
  padding: 0 25px;
  background-color: var(--button-background);
  border: var(--button-border) solid 2px;
  color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  will-change: transform;
  transition: cubic-bezier(0.77, 0, 0.175, 1) 200ms;

  &:active {
    transform: scale(1.07);
  }

  &[inverted] {
    --button-color: var(--primary);
    --button-background: var(--backgroud);
  }
}
