nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-color: var(--background);
  z-index: 50;
  display: flex;
  align-items: stretch;
  padding: 0 20px;

  .logo {
    margin-right: auto;
    line-height: 90px;
    font-size: 30px;
    font-weight: 300;

    span {
      opacity: 0;
      will-change: opacity;
      transition: opacity cubic-bezier(0.455, 0.03, 0.515, 0.955) 200ms;
      font-weight: 200;
      letter-spacing: 2px;
    }
  }

  .nav-list {
    padding: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    .nav-list-item {
      position: relative;

      .nav-list-link {
        padding-left: 25px;
        text-decoration: none;
        color: var(--text-medium);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 300;
        position: relative;
        z-index: 10;
      }

      &::after {
        content: '';
        display: block;
        width: 70%;
        background-color: var(--primary-transparent);
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -3px -13px;
        transform-origin: bottom right;
        transform: scale(0);
        will-change: transform;
        transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 200ms;
      }

      &:hover {
        &::after {
          transform: scale(1);
        }
      }
    }
  }

  &.scrolled {
    border-bottom: solid 2px var(--primary);

    .logo {
      span {
        opacity: 1;
      }
    }
  }
}
