<div class="about-page">
  <div class="content-wrapper">
    <div class="title-block">
      <h1>About Me</h1>
    </div>
    <p>
      Hi there, I am a self-taught, Full-Stack Web Developer with a special interest in Front-End development. My technology of choice is Google's Angular 5+, which I use to create beautiful, highly optimized, data-rich user experiences.
    </p>
    <p>
      I have worked in many types of environments, and I am familiar with various workflows, including Visual Studio, ZenHub, and Trello. I am constantly pushing myself to learn new technologies, design systems, and workflows so as to become a more valuable
      team member.
    </p>
    <p>
      Apart from my work, I am an avid cyclist and reader. I also enjoy music, both in listening and in performing (I am part of the <a href="http://jhbwam.org.za/">WA Mozart Choir Group</a>). Of course one cannot forget coffee, which I consider a hobby purely because of the sheer amount I consume,
      and which I probably wouldn't survive without.
    </p>
    <p>
      I am currently employed at <a href="https://www.onepointfour.io/">OnePointFour</a> consulting and am not looking for any new jobs for the present. If you would like to contact me, you can drop me an email at <a href="mailto:joshuabritz@gmail.com">joshuabritz@gmail.com</a> or give me a call on <a href="tel:+27721507073">+2772 150 7073</a>.
    </p>
  </div>
</div>
