:root {
  --primary: #ffffff;
  --accent: hsl(243, 100%, 69%);
  --accent-tint: hsl(243, 100%, 80%);
  --accent-dark: hsl(243, 100%, 59%);
  --font-color-dark: hsl(0, 0%, 23%);
  --font-color-light: hsl(0, 0%, 57%);
}
