.spacer {
  @media screen and (max-width: 800px) {
    height: 80px;
  }
}

.contact-links {
  list-style: none;
  display: block;
  width: 90%;
  max-width: 350px;
  margin: auto;
  padding: 0;

  .contact-link {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 60px;
    margin: 0 0 10px 0;
    padding-left: 60px;
    border: solid 1px #999999;

    .icon {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #999999;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #ffffff;
        font-size: 30px;
      }
    }

    .label {
      line-height: 60px;
      font-size: 20px;

      a {
        text-indent: 10px;
        display: block;
        color: #999999;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

footer {
  height: 55px;
  width: 100%;
  background-color:  var(--primary);
  border-top: solid 1px var(--accent-tint);

  .inner {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;

    .copywright {
      flex: 1;

      span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 55px;
        font-size: 18px;
        color: var(--accent);
      }
    }
  }
}
