.spacer {
  @media screen and (max-width: 800px) {
    height: 80px;
  }
}

mat-toolbar a {
  padding: 0 15px;
  text-decoration: none;
}

footer {
  height: 55px;
  width: 100%;
  background-color: #dbdbdb;

  .inner {
    width: 90%;
    max-width: 900px;
    margin: auto;

    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 55px;
      font-size: 18px;
      color: #999999;
    }
  }
}
