<footer>
  <div class="footer-inner inner">
    <ul class="social-stuff">
      <li class="icon-wrapper">
        <a href="mailto:joshuabritz@gmail.com" class="icon-inner">
          <div class="icon">
            <img src="images/social/ico_email.svg" alt="Email" />
          </div>

          <div class="label">Email</div>
        </a>
      </li>

      <li class="icon-wrapper">
        <a href="https://github.com/joshuapbritz" target="_blank" rel="noopener noreferrer" class="icon-inner">
          <div class="icon">
            <img src="images/social/ico_github.svg" alt="GitHub" />
          </div>

          <div class="label">Github</div>
        </a>
      </li>

      <li class="icon-wrapper">
        <a href="https://twitter.com/joshuapaulbritz" target="_blank" rel="noopener noreferrer" class="icon-inner">
          <div class="icon">
            <img src="images/social/ico_twitter.svg" alt="GitHub" />
          </div>

          <div class="label">Twitter</div>
        </a>
      </li>

      <li class="icon-wrapper">
        <a href="https://www.linkedin.com/in/joshua-britz/" target="_blank" rel="noopener noreferrer" class="icon-inner">
          <div class="icon">
            <img src="images/social/ico_linkedin.svg" alt="LinkedIn" />
          </div>

          <div class="label">LinkedIn</div>
        </a>
      </li>
    </ul>
  </div>

  <div class="copyright">
    <div class="inner">&copy; Joshua Britz 2019-<span id="year"></span></div>

    <script async>
      const year = document.querySelector("#year");
      year.textContent = new Date().getFullYear();
    </script>
  </div>
</footer>
