<div class="footer-contact">
  <h5>
    If you would like to get in touch with me, feel free to pop me an email:
  </h5>
  <h4><a href="mailto:joshuabritz@gmail.com">joshuabritz@gmail.com</a></h4>
</div>

<div class="footer-social">
  <ul class="social-list">
    <li class="social-item">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/joshuapbritz"
      >
        <img src="images/social/github.svg" alt="GitHub Icon" />
      </a>
    </li>
    <li class="social-item">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/joshua-britz/"
      >
        <img src="images/social/linkedin.svg" alt="LinkedIn Icon" />
      </a>
    </li>
    <li class="social-item">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/notjoshuabritz"
      >
        <img src="images/social/twitter.svg" alt="Twitter Icon" />
      </a>
    </li>
  </ul>
</div>

<div class="footer-inner">
  <div>&copy; Joshua Britz <span id="year"></span></div>

  <script async>
    const year = document.querySelector("#year");
    year.textContent = new Date().getFullYear();
  </script>
</div>
