<div class="footer-inner">
  <div class="social-stuff">
    <h5>If you would like to get in touch with me, feel free to pop me an email:</h5>
    <h6><a href="mailto:joshuabritz@gmail.com">joshuabritz@gmail.com</a></h6>
  </div>

  <div class="copyright-stuff">
    <div>&copy; Joshua Britz 2019-<span id="year"></span></div>

    <script async>
      const year = document.querySelector("#year");
      year.textContent = new Date().getFullYear();
    </script>
  </div>
</div>

<!-- <div class="footer-contact">
  <h5>
    If you would like to get in touch with me, feel free to pop me an email:
  </h5>
  <h4><a href="mailto:joshuabritz@gmail.com">joshuabritz@gmail.com</a></h4>
</div>

<div class="footer-social">
  <div class="social-list">
    <div class="social-item">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/joshuapbritz"
      >
        <img src="images/social/github.svg" alt="GitHub Icon" />
      </a>
    </div>
    <div class="social-item">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/joshua-britz/"
      >
        <img src="images/social/linkedin.svg" alt="LinkedIn Icon" />
      </a>
    </div>
  </div>
</div>

<div class="footer-inner">
  <div>&copy; Joshua Britz <span id="year"></span></div>

  <script async>
    const year = document.querySelector("#year");
    year.textContent = new Date().getFullYear();
  </script>
</div> -->
