<title>{{.Title}}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ .Description }}" />
<base href="{{ .Site.BaseURL }}" />

<link type="text/css" rel="stylesheet" href="css/index.css" />
<link type="text/css" rel="stylesheet" href="css/typography.css" />
<link type="text/css" rel="stylesheet" href="css/nav.css" />
<link type="text/css" rel="stylesheet" href="css/header.css" />
<link type="text/css" rel="stylesheet" href="css/footer.css" />
<link type="text/css" rel="stylesheet" href="css/layout.css" />

<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>

<link rel="canonical" href="{{ .Permalink }}" />

<link rel="shortcut icon" href="images/favicon.png" />
