<title>Joshua Britz | {{.Title}}</title>
<meta name="title" content="Joshua Britz | {{.Title}}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base href="{{ .Site.BaseURL }}" />

<link rel="preconnect" href="https://www.google-analytics.com" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link type="text/css" rel="stylesheet" href="css/var.css" />
<link type="text/css" rel="stylesheet" href="css/main.css" />

<link type="text/css" rel="stylesheet" href="css/components/button.css" />
<link type="text/css" rel="stylesheet" href="css/components/type.css" />
<link type="text/css" rel="stylesheet" href="css/components/syntax.css" />
<link type="text/css" rel="stylesheet" href="css/components/nav.css" />

<link href="https://fonts.googleapis.com/css2?family=Ovo&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">

<meta name="theme-color" content="#6600cc" />

<link rel="canonical" href="{{ .Permalink }}" />

<link rel="shortcut icon" href="images/icon.png" />

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-NQSR5SV");
</script>
<!-- End Google Tag Manager -->
