<div class="inner-content">
  <div class="avatar">
    <img src="images/me.svg" draggable="false" alt="This is me" />
  </div>
  <h1>Josh Britz</h1>
  <h5>
    UX Engineer // Front-end Developer // Web Tinkerer
  </h5>
  <p>
    Hello, I'm Joshua Britz. I'm a web developer from South Africa with a
    special interest in User Experience and Front-end development. My work
    usually involves creating components libraries for client design systems,
    creating high-fidelity prototpyes of new components, and working to promote
    the adoption of design systems company-wide.
  </p>
</div>
