<div class="inner">
  <a href="/" class="logo">Joshua Britz</a>

  <div class="nav-intro">
    <ul class="nav-list">
      <li id="home">
        <a href="/">Home</a>
      </li>

      <!-- <li id="about">
        <a href="/about/">About</a>
      </li> -->

      <li id="posts">
        <a href="/posts/">Writings</a>
      </li>
    </ul>
  </div>
</div>

<script async>
  (() => {
    const path = window.location.pathname;

    if (path === "/") {
      document.getElementById("home").classList.add("active");
    } else if (path.includes("/about/")) {
      document.getElementById("about").classList.add("active");
    } else if (path.includes("/posts/")) {
      document.getElementById("posts").classList.add("active");
    }
  })();
</script>
