<!-- <header class="landing-header">
  <div class="content">
    <div class="title">
      <h1>Josh Britz</h1>
      <h3>
        UX Engineer
        <span class="lighten">//</span>
        Tinkerer
        <span class="lighten">//</span>
        Creator
      </h3>
    </div>
    <div class="image pc">
      <img src="../../../assets/images/me.min.svg" alt="" />
    </div>
    <div class="scroll-down">
      <svg
        fill="var(--accent-tint)"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
        <path d="M0-.75h24v24H0z" fill="none" />
      </svg>
    </div>
  </div>
</header> -->

<main>
  <header>
    <div class="title">
      <h1>Josh Britz</h1>
    </div>
  </header>

  <figure>
    <object data="assets/images/main.svg" type="image/svg+xml"></object>
  </figure>

  <nav>
    <a routerLink="/work">See My Work</a>
  </nav>
</main>
