:host {
  width: 100%;
  height: auto;
  overflow: hidden;

  main {
    width: 90%;
    margin: auto;
    max-width: 900px;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 70px;
    grid-template-areas: 'content image' 'footer footer';
    grid-gap: 10px;
    padding-top: 40px;

    header {
      grid-area: content;

      .title {
        height: 80px;
        transform-origin: left bottom;
        transform: rotate(90deg);
        text-align: left;

        h1 {
          line-height: 80px;
          margin: 0;
          text-align: center;
          transform: translateX(170px) rotate(180deg);
          white-space: nowrap;
          font-size: 65px;
        }
      }
    }

    figure {
      grid-area: image;
      margin: 0;
      padding: 0;
      display: block;
      position: relative;

      object {
        height: 90%;
        max-height: 650px;
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    nav {
      grid-area: footer;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      button,
      a {
        display: inline-block;
        text-decoration: none;
        width: 250px;
        height: 40px;
        line-height: 36px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        background-color: #6c63ff;
        border: solid 2px #6c63ff;
        color: #ffffff;
        cursor: pointer;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        &::after {
          display: none;
        }

        &:hover,
        &:active {
          border-color: hsl(243, 100%, 59%);
          background-color: hsl(243, 100%, 59%);
          color: #ffffff;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: 80px 60px auto;

      grid-template-areas: 'content' 'footer' 'image';

      header .title {
        transform: none;

        h1 {
          transform: none;
        }
      }

      figure {
        overflow: hidden;
        object {
          position: static;
          transform: none;
          display: block;
          margin: auto;
          width: 90%;
        }
      }

      nav {
        align-items: center;
        justify-content: center;
      }
    }

    @media screen and (max-width: 500px) {
      figure object {
        width: 80%;
        margin-bottom: -50px;
      }

      nav button,
      nav a {
        font-size: 16px;
        width: 190px;
        height: 35px;
        line-height: 32px;
      }
    }
  }
}
