{{ define "main" }}
<article class="articles-grid-layout">
  <div class="articles-grid">
    {{ range $index, $arrya := first 7 .Site.RegularPages }}
    <a href="{{.Permalink}}" class="articles-grid-item">
      {{ if (eq $index 2) }}
      <div class="article-grid-image">
        {{ if .Params.headerUrl }}
        <img src="{{ .Params.headerUrl }}" alt="Header Image" />
        {{ else }}
        <img src="images/default.jpeg" alt="Header Image" />
        {{ end }}
      </div>
      {{ end }}

      <div class="articles-grid-summary">
        <h4>{{ .Title }}</h4>

        {{ if (eq $index 2) }}
        <p>{{ .Summary | safeHTML | truncate 1000 }}</p>
        {{else}}
        <p>{{ .Summary | safeHTML | truncate 300 }}</p>
        {{end}}

        <ul class="articles-grid-summary-info">
          <li>
            <strong>Published</strong>
            <span>{{- .Date.Format "January 2, 2006" -}}</span>
          </li>
        </ul>
      </div>
    </a>
    {{end}}
  </div>
</article>

<article class="other-articles">
  {{ range after 7 .Site.RegularPages }}
    <a href="{{ .Permalink }}" class="other-article">
      <h4>{{ .Title }}</h4>
      <p>{{ .Summary | safeHTML | truncate 400 }}</p>
    </a>
  {{ end }}
</article>

<!-- <div class="post-wrapper">
  <ul class="post-lists">
    {{ range where .Site.RegularPages "Section" "!=" "portfolio" }}
    <li class="post">
      <a class="post-content" href="{{.Permalink}}">
        <h5>{{.Title}}</h5>
        <div class="meta">
          <div class="author">{{.Params.author}}</div>
          <div class="date">{{- .Date.Format "January 2, 2006" -}}</div>
        </div>

        <div class="summary-content">
          <p>{{.Summary}}</p>
        </div>

        <div class="read-more">
          <span class="button" role="button">read more</span>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</div> -->
{{ end }}
