:host {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px 0 100px 0;

  .section-title {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: solid 2px var(--accent-tint);
    font-size: 20px;
    color: var(--accent);
  }

  @media screen and (max-width: 700px) {
    .section-title {
      left: 0;
      transform: none;
    }
  }

  .section-inner {
    padding-top: 50px;
  }
}
