<div class="blog-landing-page">
  <div class="content-wrapper">
    <div class="title-block">
      <h1>Codelabs</h1>
      <p>
        Writings, snippets, tutorials.
      </p>
    </div>
    <div class="blog-post-list">
      <app-blog-card-row
        *ngFor="let post of posts; let i = index"
        [rowalign]="getClass(i)"
      >
        <app-blog-card-item
          [title]="post.title"
          [snippet]="post.snippet"
          [src]="post.image"
        ></app-blog-card-item>
      </app-blog-card-row>
    </div>
  </div>
</div>
