button.button,
a.button[role="button"],
span.button[role="button"] {
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  background-color: var(--text);
  color: var(--primary);
  padding: 0 15px;
  border-radius: 5px;
  will-change: background-color;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 150ms;
}

button.button:hover,
a.button[role="button"]:hover,
span.button[role="button"]:hover {
  background-color: var(--accent);
  color: var(--primary);
}
