.post-wrapper {
  width: 100%;
  height: auto;
}

.post-wrapper .post-lists {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.post-wrapper .post-lists .post {
  display: block;
  text-decoration: none;
  color: var(--text);
}

.post-wrapper .post-lists .post a {
  color: var(--text);
}

.post-wrapper .post-lists .post a:hover {
  color: var(--text);
}

.post-wrapper .post-lists .post a:hover h4 {
  text-decoration: underline;
}

.post-wrapper .post-lists .post a:hover .read-more span.button[role="button"] {
  background-color: var(--accent);
}

.post-wrapper .post-lists .post a .read-more {
  text-align: right;
  padding: 10px 0;
}
