nav {
  height: auto;
  width: 100%;
  background: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

nav .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav .inner .logo {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
}

nav .inner .logo:hover {
  color: var(--primary);
}

nav.has-scrolled {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2),
    inset 0px 0px 25px rgba(209, 217, 230, 0.3);
}
