:host {
  display: block;
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 50px 0 120px 0;
  z-index: 100;

  .end {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    transform: translateX(-50%);
    background-color: #cfcfcf;
    border: solid 2px #cfcfcf;
    font-size: 20px;
    color: #ffffff;
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    background-color: #dbdbdb;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
  }

  @media screen and (max-width: 700px) {
    &::after {
      margin-left: 0;
      left: 10px;
    }

    .end {
      left: 0;
      transform: none;
    }
  }
}
